.second-page-wrapper {
  display: grid;
  z-index: 1;
  overflow: hidden;
  grid-template-rows: 2fr min-content 1fr min-content min-content;
  padding: 60px;
}
.jeddah-property-image {
  margin: auto;
  width: 90%;
  max-height: 80%;
  user-select: none;
  object-fit: contain;
  overflow: hidden;
}
.sidebar-description-wrapper {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}
.sidebar-description-item {
  display: grid;
  grid-template-columns: 120px auto; 
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 0.8em;
}
.sidebar-description-item div:first-child {
  font-weight: bold;
  border-right: 2px solid rgba(255, 255, 255, 1);
}
.sidebar-description-item div:last-child {
  padding-left: 20px;
}